.contenedor {
  font-family: Arial, sans-serif;
  display: grid;
  gap: 10px;
  text-align: center;
}

button {
  width: auto;
  padding: 10px;
  background: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.culturarte {
  background: linear-gradient(90deg, #ff6b6b, #ffd93d,blue);
  -webkit-background-clip: text;   
  background-clip: text;           
  -webkit-text-fill-color: transparent; 
  color: transparent;              
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}